.blogPostForm {
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}


.react-datepicker-popper {
    z-index: 9999 !important;
    position: absolute;
}

.formGroup {
    display: grid;
    margin-bottom: 15px;
}

.label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.input {
    font-size: 14px;
    color: #333333;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    width: 100%;
    padding: 5px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.error {
    font-size: 12px;
    color: #FF0000;
    margin-top: 3px;
}

.submit {
    background-color: #007BFF;
    color: white;
    margin-top: 15px;
    width: 100%;
}


.link {
    text-decoration: underline;
    color: #007BFF;
}

.link:hover {
    color: #0056B3;
}

/* Desktop View */
@media (min-width: 1200px) {

    .blogPostForm {
        padding: 30px;
        max-width: 800px;

    }


    .formGroup {
        display: flex;
        margin-bottom: 20px;
    }

    .label {
        width: 75px;
        text-align: right;
        font-size: 16px;
        margin-right: 10px;

    }

    .input {
        font-size: 16px;
        flex: 1;

    }


    .error {
        font-size: 14px;
    }

    .submitWrapper {
        margin-top: 20px;
        text-align: right;
    }

    .submit {
        width: auto;
    }

    .sun-editor {
        width: 100% !important;
        display: block;
    }

}