.blogPostDetail {
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
    text-align: center;
}

.author {
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;

}

.date {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.content {
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 40px;
}

.link {
    text-decoration: underline;
    color: #007BFF;
}

.link:hover {
    color: #0056B3;
}

/* Desktop View */
@media (min-width: 1200px) {

    .blogPostDetail {
        padding: 40px;
        margin: 0 auto;
        max-width: 800px;
    }

    .title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .author {
        font-size: 18px;
        color: #666666;
        margin-bottom: 10px;

    }

    .date {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .content {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 30px;
        margin-bottom: 40px;
    }

}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {

    .blogPostDetail {
        padding: 30px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 17px;
    }

    .author {
        font-size: 16px;
        margin-bottom: 8px;

    }

    .date {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .content {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 25px;
        margin-bottom: 40px;
    }

}