.blogPostItem {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.title {
    color: #333333;
}

.title h2 {
    font-size: 20px;
    font-weight: bold;
    color: inherit;
}

.title:hover {
    color: #007BFF;
}

.summary {
    font-size: 14px;
    color: #666666;
}

.date {
    font-size: 12px;
    color: #999999
}


/* Tablet View and Desktop View */
@media (min-width: 768px) {
    .title h2 {
        font-size: 24px;
    }

    .summary {
        font-size: 16px;
    }

    .date {
        font-size: 14px;
    }

}