.blogPostItem {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: left;
}

.title {
    color: #333333;
}

.title h2 {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}

.title:hover {
    color: #007BFF;
}

.summary {
    font-size: 16px;
    color: #666666;
}

.date {
    font-size: 14px;
    color: #999999
}