h1 {
    font-size: 22px;
    color: rgb(51, 51, 51);
}

.label {
    font-size: 14px;
    color: #333333;
}

.submit {
    background-color: #007BFF;
    color: white;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    height: 44px;
}

@media (min-width: 769px) {}