.comment {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #fafafa;
    margin-bottom: 8px;
    text-align: left;
}

.commentHead {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    color: #666666;
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
    margin-top: 8px;
}

.date {
    color: #999999;
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}

.text {
    color: #333333;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}

@media (min-width: 769px) {
    .commentHead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .name,
    .date {
        margin-left: 10px;
        margin-right: 10px;
    }
}