.overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: #FFFFFF;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: #666666;
    margin-bottom: 30px;
    /* space to buttons */
}

.buttons {
    display: flex;
    flex-direction: column;
    /* mobile-first: stack buttons vertically */
    gap: 12px;
}

.cancel {
    font-size: 16px;
    padding: 10px;
    background-color: #CCCCCC;
    color: black;
    border-radius: 4px;
    border: none;
    width: 100%;
    min-height: 44px;
    min-width: 44px;
}

.delete {
    font-size: 16px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    width: 100%;
    min-height: 44px;
    min-width: 44px;
}


@media (min-width: 1200px) {

    .title {
        font-size: 24px;
    }

    .buttons {
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
    }

}