.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.main {
    flex: 1;
    padding: 10px;
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 10px;
}


@media (min-width: 1200px) {

    .main {
        padding: 20px;
        max-width: 1200px;
        margin: 60px auto 0;
        width: 100%;
    }

    .footer {
        font-size: 16px;
    }
}