.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 200px;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    height: 26px;
    margin: auto 0;
    flex-grow: 1;
}

@media (min-width: 1200px) {
    .input {
        width: 300px;
    }
}